<h1>Details of <%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %> </p>
<p><strong>Rating:</strong> <%= @restaurant.rating %></p>

<%= link_to 'Delete this restaurant', restaurant_path(@restaurant), data: { turbo_method: :delete,
                                                                            turbo_confirm: 'Are you sure you want to delete this restaurant?' } %>

<%= link_to 'Back to list', restaurants_path %>
